<% provide(:title, "Choice") %>
<!DOCTYPE html>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <title>Bootstrap Sandbox</title>


<div class="choice-dark-overlay">
  <div class="home-inner container">
      <div class="card text-dark  mt-5 mb-5">
        <div class="card-header">
          <h2><%= t 'wines.choice.ワインのお勧め' %></h2>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= t 'wines.choice.今日は何のワインが飲みたいですか？' %></h4>
          <p class="card-title"><%= t 'wines.choice.下記の種類の中に一つを選択してクリックしてください。'%></p>
        </div>
      </div>
      <div class="card-columns py-2">
        <div class="card  mb-5">
          <%= link_to 'price1' do %>
            <div class="bg-image hover-zoom">
            <img class="card-img-top" <%=  image_tag("choice/white-wine.jpeg") %>
            </div>
           <% end %>
          <div class="card-body">
            <h4 class="card-title">White wine</h4>
          </div>
        </div>
        <div class="card  mb-5">
          <%= link_to 'price2' do %>
            <img class="card-img-top" <%=  image_tag("choice/red-wine.jpeg") %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title">Red wine</h4>
          </div>
        </div>
        <div class="card  mb-5">
          <%= link_to 'price3' do %>
            <img class="card-img-top" <%=  image_tag("choice/sparkling-wine.jpeg") %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title">Sparkling wine</h4>
          </div>
        </div>
    </div>
  </div>
</div>



