<% provide(:title, "Choice") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Wine Detective</title>
  </head>
  <body>
    <h1>お勧め</h1>
    <div class=container>
      <div class= choice-box>
        <br><h1>今日のワインの予算はいくらですか？<h1>
        <%= link_to "food21" do %>
          <div class= choice-image>
            <%=  image_tag("price/low-price.jpeg") %>
            <span>800円以下</span>
          </div>
        <% end %>
        <%= link_to "food22" do %>
          <div class= choice-image>
            <%=  image_tag("price/medium-price.jpeg") %>
            <span>1000円以下</span>
          </div>
        <% end %>
        <%= link_to "food23" do %>
          <div class= choice-image>
            <%=  image_tag("price/big-price.jpeg") %>
            <span>1000円以上</span>
          </div>
        <% end %>  
      </div>
    </<div>
  </body>
</html>