<% provide(:title, "Log in") %>

  <div class="dark-overlay">
    <div class="home-inner container">
      <div class="row mt-5">
        <div class="col-md-6 col-md-offset-3 mt-5">
          <div class="card bg-secondary text-center card-form border border-rounded">
            <div class="card-body">
            <h1 class="display-1 "><%= t 'users.new.ログイン' %> </h1>
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

              <%= t 'users.new.メールアドレス' %> 
              <%= f.email_field :email, class: 'form-control mb-4' %>

              <%= t 'users.new.パスワード' %> 
              <%= f.password_field :password, class: 'form-control mb-4' %> 

              <%= f.submit I18n.t( "users.new.Log in"), class: "btn btn-primary mb-3" %>
            <% end %>
            <p> <%= link_to I18n.t( "users.new.Sign Up"), signup_path, class: 'a-primary' %> <%= t 'users.new.をお願いします。'%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>