<% provide(:title, 'Sign up') %>

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <div class="form-group">
      <%= f.text_field :name, class: 'form-control form-control-lg', placeholder: '名前' %>
      </div>

      <div class="form-group">
      <%= f.email_field :email, class: 'form-control form-control-lg', placeholder: 'メールアドレス' %>
      </div>

      <div class="form-group">
      <%= f.password_field :password, class: 'form-control form-control-lg', placeholder: 'パスワード' %>
      </div>

      <div class="form-group">
      <%= f.password_field :password_confirmation, class: 'form-control form-control-lg', placeholder: 'パスワード確認' %>
      </div>

      <%= f.submit "登録", class: "btn btn-outline-light btn-block" %>
    <% end %>