
    <%= link_to wine, class: "a-primary" do %>        
        <div class="col mb-5 bg-white">
            <div class="card "> 
            <% if wine.profile_picture.attached? %>
                <%= image_tag wine.profile_picture %>
                <% end %>
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h3 class="card-title">
                            <% if I18n.locale == :ja %>
                                <%= wine.name %>
                            <% else %>
                                <%= wine.name_en %>
                            <% end %></p></h5>
                            <p class="card-text">
                            <% if I18n.locale == :ja %>
                                <%= wine.country%> ・ <%= wine.wine_type %>
                            <% else %>
                                <%= wine.country_en %> / <%= wine.wine_type_en %>
                            <% end %></p>
                            <h3 class="card-text">
                            <% if I18n.locale == :ja %>
                                <%= wine.price %>円　(税込) 
                            <% else %>
                                ¥<%= wine.price %>
                            <% end %></h3>
                        </div>
                    </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-white"></div>
            </div>
        </div>
    <% end %>
