    <%= link_to wine, class: "a-primary " do %>        
        <div class="col mb-5 d-flex align-self-stretch">
            <div class="card h-100" id="card-index" size="" > 
                <div class="col" id="card-img">
                <% if wine.profile_picture.attached? %>
                    <%= image_tag wine.profile_picture, class:"thumbnail img-responsive center-block" %>
                <% end %>
                </div>
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">
                            <% if I18n.locale == :ja %>
                                <%= wine.name %>
                            <% else %>
                                <%= wine.name_en %>
                            <% end %></p>
                        </h5>
                        <p class="text-muted">                            
                            <% if I18n.locale == :ja %>
                                <%= wine.country%> ・ <%= wine.wine_type %>
                            <% else %>
                                <%= wine.country_en %> / <%= wine.wine_type_en %>
                            <% end %>
                        </p>
                        <h3 class="card-text">
                            <% if I18n.locale == :ja %>
                                <%= wine.price %>円　(税込) 
                            <% else %>
                                ¥<%= wine.price %>
                            <% end %>
                        </h3>
                    </div>
            </div>
        </div>
    <% end %>
