<% provide(:title, @wine.name) %>
<div class="row">
  <aside class="col-md-4">
    <div class="wine">
        <div class="wine_presentation">
            <%= image_tag "alpaca-cabernet.png", size:"80x300" %>   
            <h1>
                 <%= @wine.name %>
            </h1>
            <h2>
                <%= @wine.rate %>
            </h2>  
        </div>
        <div class="wine_taste">
            <h1>Wine Taste</h1>
            <% data1 = ["", @wine[:dry_sweet]], ["", @wine[:dry_sweet]] %>
            <% data2 = ["", @wine[:light_bold]], ["", @wine[:light_bold]] %>
            <% data3 = ["", @wine[:smooth_tannic]], ["", @wine[:smooth_tannic]] %>
            <% data4 = ["", @wine[:soft_acidic]], ["", @wine[:soft_acidic]] %>
            <%= bar_chart data1, min:0, max:100, legend: false, colors: ["#F39C12", "#F39C12"], background: ["white","white"],height: "110px", xtitle: "dry                                                                                                                   sweet" %>
            <%= bar_chart data2, min:0, max:100, legend: false, colors: ["#F39C12", "#F39C12"],height: "110px", xtitle: "light                                                                                                                  bold"  %>
            <%= bar_chart data3, min:0, max:100, legend: false, colors: ["#F39C12", "#F39C12"],height: "110px", xtitle: "smooth                                                                                                                   tannic"  %>
            <%= bar_chart data4, min:0, max:100, legend: false, colors: ["#F39C12", "#F39C12"],height: "110px", xtitle: "soft                                                                                                                   acidic"  %>
        </div>
        <div class="wine_info">
            <div class="country">
                <div class= "icon">
                    <%= image_tag "world icon.webp", size:"100x100" %>
                    <span class="caption">国産</span>
                </div> 
                <div  class="text">:<%= @wine.country %></div>    
            </div>
            <div class="price">
            <div class= "icon">
                <%= image_tag "Yen icon.png", size:"100x100" %>
                <span class="caption">価格</span>
            </div>
            <div  class="text">:<%= @wine.price %>円</div> 
        </div>
     </aside>
</div>