<% provide(:title, @wine.name) %>
<div class="row">
  <aside class="col-md-4">
    <div class="wine">
        <div class="wine_presentation">
            <div class= presentation-like>
                <%= render 'bookmark_button', wine: @wine  %>
            </div>
            <div class="presentation-img">
            
                <%= image_tag(@wine.profile_picture) if @wine.profile_picture.attached? %> 
            </div> 
            <span>
                 <%= @wine.name %>
            </span>
            <h2>
                <%= @wine.wine_type %>
            </h2>  
        </div>
        <div class="wine_taste">
            <h1>Wine Taste</h1>
            <% data1 = ["", @wine[:dry_sweet]], ["", @wine[:dry_sweet]] %>
            <% data2 = ["", @wine[:light_bold]], ["", @wine[:light_bold]] %>
            <% data3 = ["", @wine[:smooth_tannic]], ["", @wine[:smooth_tannic]] %>
            <% data4 = ["", @wine[:soft_acidic]], ["", @wine[:soft_acidic]] %>
            <%= bar_chart data1, min:0, max:100, legend: false, colors: ["#6A291E", "#6A291E"],height: "110px", xtitle: "辛口                                                                                                                   甘口" %>
            <%= bar_chart data2, min:0, max:100, legend: false, colors: ["#53120a", "#53120a"],height: "110px", xtitle: "軽い                                                                                                                  重い"  %>
            <% if @wine.smooth_tannic > 0 %>
            <%= bar_chart data3, min:0, max:100, legend: false, colors: ["#53120a", "#53120a"],height: "110px", xtitle: "タンニン控えめ                                                                                                                  タンニン強い "  %>
            <% end %>
            <%= bar_chart data4, min:0, max:100, legend: false, colors: ["#53120a", "#53120a"],height: "110px", xtitle: "まろやか                                                                                                                   シャープ"  %>
        </div>
        <div class="wine_info">
            <h1>ワイン情報</h1>
            <div class="info">
                <div class= "icon">
                    <%= image_tag "world icon.webp", size:"100x100" %>
                    <span class="caption">産地</span>
                </div> 
                <div  class="text">:<%= @wine.country %></div>    
            </div>
            <span class="divider"></span>
            <div class="info">
                <div class= "icon">
                    <%= image_tag "Yen icon.png", size:"100x100" %>
                    <span class="caption">価格</span>
                 </div>
                <div  class="text">:<%= @wine.price %>円（税込）</div> 
            </div>
            <span class="divider"></span>
            <div class="info">
                <div class= "icon">
                    <%= image_tag "grape icon.png", size:"100x100" %>
                    <span class="caption">葡萄品種</span>
                </div> 
                <div  class="text">:<%= @wine.grape_variety %></div>    
            </div> 
            <span class="divider"></span>
            <div class="info">
                <div class= "icon">
                <%= image_tag "explanation icon.png", size:"100x100" %>
                <span class="caption">商品説明</span>
                </div>
                <div  class="text">:<%= @wine.explanation %></div>
            </div> 
            <span class="divider"></span>
            <div class="info">
                <div class= "icon">
                    <%= image_tag "snack icon.png", size:"100x100" %>
                    <span class="pearing">ペアリング</span>
                </div>    
                <div  class="text">:<%= @wine.pairing %></div>
            </div>
            <span class="divider"></span>
            <div class="container">
                <aside class="col-md-7">
                    <section class="micropost_form">
                        <%= render 'shared/micropost_form' , { wine: @wine, micropost: @micropost }%>
                    </section>
                </aside>
            </div>
            <div class="container-2"
                <h1>レビュー </h1>
                <ol class="microposts">
                    <% if @microposts.any? %>
                    <%= render @microposts %>
                    <% else %>
                    <h2>今のところレビューありません</h2>
                    <% end %>
                </ol>
                <%= paginate @microposts %>
            </div>
        </div>
     </aside>
</div>