<% provide(:title, @wine.name) %>
<!DOCTYPE html>



<section id="showcase" class="">
    <div class="primary-overlay text-white">
        <div class="container mt-5">
            <div class="row mt-5" >
                <div class="col-lg-6  text-center pt-5">
                    <h1 class="display-2  mt-5 pt-5">
                    <% if I18n.locale == :ja %>
                        <%= @wine.name %>
                    <% else %>
                        <%= @wine.name_en %>
                    <% end %>        
                    </h1>
                    <p class="lead">
                    <% if I18n.locale == :ja %>
                        <%= @wine.explanation %>
                    <% else %>
                        <%= @wine.explanation_en %>
                    <% end %> 
                    </p>
                    <p class="lead ">
                        <%= render 'bookmark_button', wine: @wine  %>
                    <p>
                </div>
                <div class="col-lg-6  mt-5">

                    <div class= "col-lg-10 mb-5">
                    <% if @wine.profile_picture.attached? %>
                        <%= image_tag @wine.profile_picture,class:"img-responsive center-block",  style: 'height:90%;width:auto;margin: auto;' %>
                    <% end %>
                    </div>
                                         <div class="col-lg-2 my-5">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="bars" class="bg-dark text-white ">
    <div class="container pt-5">
        <div class="row">
            <div class=" col-lg-2">
                <h1 class="display-1 align-middle m-5">Wine Taste</h1>
            </div>
                <%= render 'progress_bars' %>
        </div>
    </div>
</section>
<section id="info" class="my-5 bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="text pb-3">
                        <%= t 'wines.show.ワイン情報'%>
                    </h1>
                </div>
            </div>
        </div>
    <div class="row mt-5">
        <div class="col-lg-3 col-md-6">
            <div class="card mb-5">
                <div class="card-body">
                    <img class="img-fluid rounded-circle  mb-3"><%= image_tag "world icon.webp", size:"70x70" %>
                    <h1><%= t 'wines.show.産地' %></h1>
                    <h4 class="">
                    <% if I18n.locale == :ja %>
                        <%= @wine.country %>
                    <% else %>
                        <%= @wine.country_en %>
                    <% end %>
                    </h4>
                </div>
            </div>
        </div>
                <div class="col-lg-3 col-md-6">
            <div class="card mb-5">
                <div class="card-body">
                    <img class="img-fluid rounded-circle  mb-3"><%= image_tag "Yen icon.png", size:"70x70" %>
                    <h1><%= t 'wines.show.価格' %></h1>
                    <h4 class="">
                    <% if I18n.locale == :ja %>
                        <%= @wine.price %>円(税込) 
                    <% else %>
                         ¥<%= @wine.price %>
                    <% end %>
                    </h4>
                </div>
            </div>
        </div>        <div class="col-lg-3 col-md-6">
            <div class="card mb-5">
                <div class="card-body">
                    <img class="img-fluid rounded-circle  mb-3"><%= image_tag "grape icon.png", size:"70x70" %>
                    <h1><%= t 'wines.show.葡萄品種' %></h1>
                    <h4 class="">
                    <% if I18n.locale == :ja %>
                        <%= @wine.grape_variety %>
                    <% else %>
                        <%= @wine.grape_variety_en %>
                    <% end %>
                    </h4>
                </div>
            </div>
        </div>        <div class="col-lg-3 col-md-6">
            <div class="card mb-5">
                <div class="card-body">
                    <img class="img-fluid rounded-circle  mb-3"><%= image_tag "snack icon.png", size:"70x70" %>
                    <h1><%= t 'wines.show.ペアリング' %></h1>
                    <h4 class="">
                    <% if I18n.locale == :ja %>
                        <%= @wine.pairing %>
                    <% else %>
                        <%= @wine.pairing_en %>
                    <% end %>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class=" py-5 mb-5">
    <div class="container">
      <div class="row">
        <h1><%= t 'wines.show.レビュー' %> (<%= @microposts.count %>)</h1>

        <div class="col-8 offset-md-2">
            <div>
                    <% if @microposts.any? %>
                    <%= render @microposts %>
                    <% else %>
                    <h2><%= t 'wines.show.今のところレビューありません' %></h2>
                    <% end %>
                <%= paginate @microposts %>
            </div>
                  </div>
                      </div>
                          </div>

	
	
    </div>
            <div class="col-8 offset-md-2 my-5">
            <%= render 'shared/micropost_form' , { wine: @wine, micropost: @micropost }%>
            </div>



  </section>

