<footer class="footer mt-5">
  <small>
    <h1>Wine Detective</h1>
  </small>
  <nav>
    <ul>
     
      <% if I18n.locale == :ja %>
        <li><%= link_to "プライバシーポリシー", policy_path %></li>
        <li><%= link_to "利用規約", terms_path %></li>
      <% else %>
        <li><%= link_to "Privacy policy", policy_en_path %></li>
        <li><%= link_to "Terms", terms_en_path %></li>
    <% end %>
     <li><%= link_to "Contact", new_contact_path %></li>
    </ul>
  </nav>
</footer>