<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Wine Detective", root_path, id: "logo" %>
    <nav>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  <ul class="nav navbar-nav navbar-right collapse navbar-collapse"
      id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>


        <% if current_user && current_user.admin? %>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Wine admin <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "New Wine", new_wine_path %></li>
            </ul>
            <li><%= link_to "Users", users_path %></li>
        </li>
        <% end %>
        <% if logged_in? %>
          <li><%= link_to "おすすめ", choice_path %></li>
          <li><%= link_to "ワイン一覧", wines_path %></li>
          <li class="nav-item">
            <%= link_to t('wines.bookmarks.お気に入り'), bookmarks_wines_path, class: 'nav-link' %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              管理 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロファイル", current_user %></li>
              <li><%= link_to "設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>