<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Wine Detective</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    
    <!--省略-->
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="<%= full_description(yield(:description)) %>" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:title" content="<%= full_title(yield(:og_title)) %>" />
    <meta property="og:description" content="<%= og_description(yield(:og_description)) %>" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:image" content="<%= og_image(yield(:og_image)) %>" />
    <meta property="og:site_name" content="デンタルクラウド" />　<!--サイト名を記述します-->
    <meta property="og:type" content="article" /> <!--TOPページの場合は"website"、WEBサイト上の記事ページなど、TOPページ以外には"article"を指定します。-->
    <meta name="twitter:card" content="summary" />　<!--"article"は画像とテキスト情報が横並びに表示され、"summary_large_image"は画像が横幅いっぱいに拡大されテキスト情報は下に表示されます-->
    <meta name="twitter:site" content="@dentalcloud2021" /> <!--ツイッターユーザー名を記述します-->
    <meta name="twitter:image" content="<%= og_image(yield(:og_image)) %>" />
    <meta name="twitter:title" content="<%= full_title(yield(:og_title)) %>" />
    <meta name="twitter:description" content="<%= og_description(yield(:og_description)) %>" />
    <!--省略-->

    <%= render 'layouts/shim' %>
  </head>
  <body>
  <%= render 'layouts/header' %>
      <% flash.each do |message_type, message| %>
       <div class="alert alert-<%= message_type %>"><%= message %></div>
     <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  </body>
</html>